{% extends "layout.html" %}
{% block body %}
<div class="main">
    <div class="dream">
        <div class="dream-band">
            <span class="title">Current dreams</span>
        </div>
        <form action= "{{ url_for('login' )}}" method="POST">
            <a href="{{ url_for('new_dream') }}">New dream</a>
        
        <table>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            {% for dream in dreams %}
            <tr>
                <td> {{ dream.date }} </td>
                <td> {{ dream.title }} </td>
                <td>
                    <a href="{{ url_for('modify_dream', dream_id = dream.iddream) }}">Modify</a> | <a href="{{ url_for('remove_dream', dream_id = dream.iddream) }}"/> Delete </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</form>
{% endblock %}
