    {% extends "layout.html" %}
    {% block body %}
    {% for dream in dreams %}
    <div class="dream">
        <div class="dream-band">
            <span class="time">Rêve fait le {{ dream.date }}</span>
            <span class="title"><a href="{{ url_for('show_dream', dream_id = dream.iddream) }}">{{dream.title}}</a></span>
        </div>
        <div class="dream-content">
            {{dream.text|nl2br}}
        </div>
        <div class="dream-tags">
            <ul>
                {% for tag in dream.tags %}
                <li>{tag.name}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="comment-count">
            <a href="{{ url_for('show_dream', dream_id=dream.iddream) }}#disqus_thread"></a>
        </div>
    </div>
        {% endfor %}
    <!-- Pagination -->
    <div>
    {% if previous_page >= 0 or next_page != 0 %}
    <div class="banner-end">
        {% if previous_page >= 0 %}
        <a class="left" href="{{ url_for('show_dreams', from_nb = previous_page) }}">
            BEFORE
        </a>
        {% endif %}
        {% if next_page != 0 %}
        <a class="right" href="{{ url_for('show_dreams', from_nb = next_page) }}">
            AFTER
        </a>
        {% endif %}
    </div>

{% endif %}
{% if disqus is not undefined %}
<!-- Disqus gizmo -->
<script type="text/javascript">
var disqus_shortname = '{{ disqus }}'; 

(function () {
 var s = document.createElement('script'); s.async = true;
 s.type = 'text/javascript';
 s.src = '//' + disqus_shortname + '.disqus.com/count.js';
 (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
 }());
</script>

{% endif %}
{% endblock %}
