<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sdmb.css') }}"/>
    </head>
    <body>
        <div class="banner"><a href="{{ url_for('main_page') }}">Sweet Dreams Made By {{ author }}</div></a>
        {% if session.logged_in %}
        <div class="top-right">
            <ul>
                <li><a href="{{ url_for('admin') }}">Administration</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="main">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>
